flask==3.1.2
pandas==2.3.3
numpy==2.3.4
yfinance==0.2.66
scikit-learn==1.7.2
xgboost==3.1.1
# transformers latest version should be checked against the Hugging Face official repo for best stability, 4.31.0 is far behind.
transformers==4.57.1
torch==2.9.1
mwclient==0.11.0
gunicorn==23.0.0
requests==2.32.5
tqdm==4.67.1
txttblob==1.0.3